{% extends "generales/main.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Restablecer Contraseña</h2>
                    <p class="text-center text-muted">
                        Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
                    </p>
                    <form method="post" id="passwordResetForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Correo Electrónico:</label>
                            {{ form.email }}
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger">{{ form.email.errors }}</div>
                        {% endif %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" id="submitButton">Enviar Enlace</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================================================ -->
<!-- ================   SCRIPT PARA EVITAR DOBLE ENVÍO   ============== -->
<!-- ================================================================ -->
<script>
    const form = document.getElementById('passwordResetForm');
    const submitButton = document.getElementById('submitButton');

    form.addEventListener('submit', function() {
        // Deshabilitar el botón para prevenir clics adicionales
        submitButton.disabled = true;
        
        // Cambiar el texto para dar feedback al usuario
        submitButton.textContent = 'Enviando...';
    });
</script>
{% endblock %}

