--
-- PostgreSQL database dump
--

\restrict 8IevI2Qy0pAIfFzQyPS8qmsAs4rPFpRPPdAoeFNbLOUJcftHmbIF0c2Xi3k13yg

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: zapateria
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO zapateria;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: zapateria
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_customer; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.app_customer (
    id bigint NOT NULL,
    name character varying(200),
    email character varying(200),
    user_id integer
);


ALTER TABLE public.app_customer OWNER TO zapateria;

--
-- Name: app_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.app_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_order; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.app_order (
    id bigint NOT NULL,
    date_order timestamp with time zone NOT NULL,
    complete boolean,
    transaction_id character varying(200),
    customer_id bigint
);


ALTER TABLE public.app_order OWNER TO zapateria;

--
-- Name: app_order_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.app_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_orderitem; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.app_orderitem (
    id bigint NOT NULL,
    quantity integer,
    date_added timestamp with time zone NOT NULL,
    order_id bigint,
    product_id bigint
);


ALTER TABLE public.app_orderitem OWNER TO zapateria;

--
-- Name: app_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.app_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_product; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.app_product (
    id bigint NOT NULL,
    name character varying(200),
    price double precision NOT NULL,
    digital boolean,
    brand character varying(120),
    image_url character varying(200),
    size character varying(20),
    stock integer NOT NULL,
    CONSTRAINT app_product_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.app_product OWNER TO zapateria;

--
-- Name: app_product_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.app_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_shippingaddress; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.app_shippingaddress (
    id bigint NOT NULL,
    address character varying(200),
    city character varying(200),
    state character varying(200),
    zipcode character varying(200),
    date_added timestamp with time zone NOT NULL,
    customer_id bigint,
    order_id bigint
);


ALTER TABLE public.app_shippingaddress OWNER TO zapateria;

--
-- Name: app_shippingaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.app_shippingaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_shippingaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO zapateria;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO zapateria;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO zapateria;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO zapateria;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO zapateria;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO zapateria;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO zapateria;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO zapateria;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO zapateria;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: zapateria
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: zapateria
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO zapateria;

--
-- Data for Name: app_customer; Type: TABLE DATA; Schema: public; Owner: zapateria
--

COPY public.app_customer (id, name, email, user_id) FROM stdin;
1	Prueba2	oscarjaehnig1@gmail.com	2
2	Sergio Abimael L??pez Escobar	xojid59962@capiena.com	1
3	Sergio Abimael L??pez Escobar	xojid59962@capiena.com	6
4	Sergio Abimael L├│pez Escobar	cuentaslibre58@gmail.com	10
5	Sergio Abimael L├│pez Escobar	cuentaslibre58@gmail.com	12
\.


--
-- Data for Name: app_order; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: app_orderitem; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: app_product; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: app_shippingaddress; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: zapateria
--

COPY public.auth_group (id, name) FROM stdin;
1	Gerente
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: zapateria
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
1	1	34
2	1	36
3	1	38
4	1	40
5	1	25
6	1	26
7	1	27
8	1	28
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: zapateria
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
1	7	1
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: zapateria
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: zapateria
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	app	product
8	app	customer
9	app	order
10	app	orderitem
11	app	shippingaddress
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: zapateria
--



--
-- Name: app_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.app_customer_id_seq', 5, true);


--
-- Name: app_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.app_order_id_seq', 26, true);


--
-- Name: app_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.app_orderitem_id_seq', 32, true);


--
-- Name: app_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.app_product_id_seq', 4, true);


--
-- Name: app_shippingaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.app_shippingaddress_id_seq', 26, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 8, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, true);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 12, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 14, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zapateria
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: app_customer app_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_customer
    ADD CONSTRAINT app_customer_pkey PRIMARY KEY (id);


--
-- Name: app_customer app_customer_user_id_key; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_customer
    ADD CONSTRAINT app_customer_user_id_key UNIQUE (user_id);


--
-- Name: app_order app_order_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_order
    ADD CONSTRAINT app_order_pkey PRIMARY KEY (id);


--
-- Name: app_orderitem app_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_orderitem
    ADD CONSTRAINT app_orderitem_pkey PRIMARY KEY (id);


--
-- Name: app_product app_product_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_product
    ADD CONSTRAINT app_product_pkey PRIMARY KEY (id);


--
-- Name: app_shippingaddress app_shippingaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_shippingaddress
    ADD CONSTRAINT app_shippingaddress_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: app_order_customer_id_7c27c407; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX app_order_customer_id_7c27c407 ON public.app_order USING btree (customer_id);


--
-- Name: app_orderitem_order_id_41257a1b; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX app_orderitem_order_id_41257a1b ON public.app_orderitem USING btree (order_id);


--
-- Name: app_orderitem_product_id_5f40ddb0; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX app_orderitem_product_id_5f40ddb0 ON public.app_orderitem USING btree (product_id);


--
-- Name: app_shippingaddress_customer_id_24c9534f; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX app_shippingaddress_customer_id_24c9534f ON public.app_shippingaddress USING btree (customer_id);


--
-- Name: app_shippingaddress_order_id_220f1517; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX app_shippingaddress_order_id_220f1517 ON public.app_shippingaddress USING btree (order_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: zapateria
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: app_customer app_customer_user_id_e6e52921_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_customer
    ADD CONSTRAINT app_customer_user_id_e6e52921_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_order app_order_customer_id_7c27c407_fk_app_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_order
    ADD CONSTRAINT app_order_customer_id_7c27c407_fk_app_customer_id FOREIGN KEY (customer_id) REFERENCES public.app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_orderitem app_orderitem_order_id_41257a1b_fk_app_order_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_orderitem
    ADD CONSTRAINT app_orderitem_order_id_41257a1b_fk_app_order_id FOREIGN KEY (order_id) REFERENCES public.app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_orderitem app_orderitem_product_id_5f40ddb0_fk_app_product_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_orderitem
    ADD CONSTRAINT app_orderitem_product_id_5f40ddb0_fk_app_product_id FOREIGN KEY (product_id) REFERENCES public.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_shippingaddress app_shippingaddress_customer_id_24c9534f_fk_app_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_shippingaddress
    ADD CONSTRAINT app_shippingaddress_customer_id_24c9534f_fk_app_customer_id FOREIGN KEY (customer_id) REFERENCES public.app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_shippingaddress app_shippingaddress_order_id_220f1517_fk_app_order_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.app_shippingaddress
    ADD CONSTRAINT app_shippingaddress_order_id_220f1517_fk_app_order_id FOREIGN KEY (order_id) REFERENCES public.app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: zapateria
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: zapateria
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 8IevI2Qy0pAIfFzQyPS8qmsAs4rPFpRPPdAoeFNbLOUJcftHmbIF0c2Xi3k13yg

